<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On 
    RewriteRule ^(.*)\.html $1\.php
    RewriteRule ^oferta/$ /oferta/index.php
    RewriteRule ^oferta/([0-9]+)$ /oferta/index.php?id=$1
</IfModule>